@import "./base.scss";
@import "./reponsive.scss";
@import "./_global";

.header {
    height: 80px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
    position: fixed;
    z-index: 99;
    background-color: $white;
    left: 0;
    right: 0;
    .search-container {
        display: flex;
        align-items: center;
        &__logo {
            width: 50px;
            height: 50px;
            margin-right: 20px;
            transition: all ease 0.3s;
            &:hover {
                cursor: pointer;
                fill: $orange;
            }

        }
        .search {
            box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
            height: 47px;
            display: flex;
            align-items: center;
            padding-right: 10px;
            border-radius: 5px;
            flex: 1;
            &__date, &__customer {
                line-height: 47px;
                padding: 0 16px;
                i {
                    margin-right: 12px;
                    color: $lightDark;
                }
                span {
                    margin-right: 12px;

                }
                &:hover {
                    cursor: pointer;
                }
            }
            &__input {
                flex: 1;
                position: relative;
                box-sizing: border-box;
                i {
                    position: absolute;
                    left: 20px;
                    color: $lightDark;
                    top: 50%;
                    transform: translateY(-50%);
                }
                input {
                    height: 47px;
                    width: 100%;
                    padding: 0 10px 0 40px;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid rgb(197, 197, 197);
                }
            }
            &__date {

            }
            &__customer {
                position: relative;
                &::before {
                    content: '';
                    width: 1px;
                    height: 40px;
                    left: 0;
                    background-color: rgb(226, 226, 226);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%)
                }
                .sub-customer {
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    top: 60px;
                    left: 50%;
                    transform: translateX(-50%);
                    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    overflow: hidden;
                    .customer-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: $white;
                        width: 300px;
                        padding: 12px;
                        i {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            border: 1px solid rgb(226, 226, 226);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 0;
                        }
                        h6 {
                            margin-right: 90px;
                            color: $dark;
                            font-weight: 500;
                            line-height: 30px;
                        }
                        p {
                            font-size: 1.2rem;
                            font-weight: 450;
                            color: $lightDark;
                        }
                        
                        .customer-input {
                            display: flex;
                            align-items: center;
                            span {
                                margin: 0 16px;
                            }
                        }
                    }
                }

            }
            &__btn {
                padding: 0 21px;
                background-color: $lightDark;
                height: 36px;
                display: flex;
                align-items: center;
                border-radius: 5px;
                i {
                    color: $white;
                }
            }
        }
    }

    .menu {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        &__item {
            a {
                color: $dark;
                display: flex;
                align-items: center;
                padding: 10px;
                &:hover {
                    color: $lightDark;
                }
            }
        }
        .item__dot {
            position: relative;
            &::after {
                content: '';
                width: 5px;
                height: 5px;
                background-color: $orange;
                border-radius: 5px;
                position: absolute;
                right: 6px;
                top: 6px;
            }
        }
        .sub-item {
            position: relative;
            font-weight: 400;
            &__language {
                display: flex;
                align-items: center;
                i {
                    padding-bottom: 5px;
                }
            }
            &:hover {
                cursor: pointer;
            }

            img {
                height: 24px;
                width: 24px;
                margin-right: 8px;
            }
            i {
                margin-left: 8px;
            }

            .language {
                opacity: 0;
                display: flex;
                visibility:hidden;
                width: 470px;
                position: absolute;
                top: 30px;
                right: 0;
                box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
                padding: 10px;
                background-color: $white;
                border: 1px solid rgb(218, 218, 218);               
                &__item {
                    // line-height: 40px;
                    a {
                        span {
                            padding: 0 10px;
                        }
                        i {
                            opacity: 0;
                            visibility: hidden;
                        }
                        
                    }
                }
                &::before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    top: -8px;
                    right: 20px;
                    transform: rotate(45deg);
                    position: absolute;
                    background-color: $white;
                    border-top: 1px solid rgb(221, 221, 221);
                    border-left: 1px solid rgb(221, 221, 221);
                }
                ul:last-child {
                    border-left: 1px solid rgb(221, 221, 221);
                }

            }
        }

    }
}

.banner {
    padding: 100px 0 0 0;
    .banner-container {
        position: relative;
        width: 100%;
        overflow: hidden;
        img {
            transition: all ease-in-out 0.3s;
            position: absolute;
            width: 100%;
            border-radius: 20px;
        }
        .img-control {
            position: absolute;
            bottom: 40px;
            right: 40px;
            display: flex;
            &__dot {
                width: 8px;
                height: 8px;
                background-color: rgb(190, 190, 190);
                border-radius: 50%;
                margin-right: 10px;
            }
            .on {
                background-color: rgb(137, 137, 137);
            }
        }
    }
}

.welcome {
    padding: 20px 0 0 0;

}

.popular {
    padding: 20px 0 0 0;

    
}

.promotion {
    padding: 20px 0 0 0;
    &-img {
        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}

.manual {
    padding: 20px 0 0 0;
    a {
        img {
            width: 100%;
            border-radius: 10px;
        }
    }

}



.intro {
    padding: 50px 0 0 0;

    .logo {
        svg {
            width: 343px;

        }
    }
    .descriptions {
        p {
            margin-bottom: 20px;
        }
    }
    .app {
        margin: 72px 0 20px 0;
        .qr-app {
            padding: 12px;
            border: 1px solid rgb(221, 221, 221);
            img {
                width: 100%;
            }
        }
        .store-app {
            img{
                margin-bottom: 20px;
            }
        }
    }
    .img-mobile {
        img {
    
            width: 100%;
        }
    }
}


.footer {
    padding: 50px 0 0 0;
    &-widget {
        &__title {
            margin-bottom: 20px;
        }
        margin-bottom: 40px;
        &__logo {
            svg {
                width: 200px;
            }
        }
        &__link {
            margin-top: 20px;
            a {
                color: $dark;

                font-size: 1.4rem;
                display: block;
                padding: 6px 0;
            }
        }
        &__message {
            margin-top: 20px;;
            display: flex;
            align-items: center;
            .message__img {
                margin-right: 10px;
            }
            a {
                color: $dark;
                font-size: 1.4rem;
                display: block;
                padding: 4px 0;
            }
            p {
                font-weight: 600;
            }
        }
        &__payments {
            display: flex;
            // align-items: center;
            img {
                max-width: 100px;
            }
        }
        &__social {
            a {
                font-size: 2rem;
                color: $dark;
                i {
                    margin-right: 8px;
                }
            }
        }
    }
    .info__coder{
        text-align: center;
        padding: 20px 0;
        border-top: 1px solid rgb(221, 221, 221);
    }
    
    .app {
        margin: 72px 0 20px 0;
        .qr-app {
            padding: 12px;
            border: 1px solid rgb(221, 221, 221);
            img {
                width: 100%;
            }
        }
        .store-app {
            img{
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }
    a:hover {
        color: $orange;
        transition: all ease 0.3s;
    }

}

.recommend {
    padding: 20px 0 0 0;
    .recommend-container {
        margin: 20px 0;
        .recommend-list {
            height: 300px;
            .img-container {
                .img-content {
                    p:first-child {
                        color: $lightDark;
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                    p {
                        color: $dark;
                    }
                }
                .img {
                    border-radius: 5px !important;
                }
            }
        }
    }
}

.popular {
    .popular-list {
        height: 300px;
        .img-container {
            .img {       
                height: 100%;
            }
        }
    }
}