$primary: #155bd5;
$primary-dark: #1c3ab6;
$primary-light: #e2f1ff;
$text-bland: #6d6d6d;
// ----------------------------------------------nav------------------------------
.container-nav {
    background-color: $primary;
    height: 94px;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    .row {
        .col {
            position: relative;
            .nav {
                height: 74px;
                padding: 10px 0;
                display: flex;
                align-items: center;
                margin: 10px 0;
                &-logo {
                    width: 184px;
                    img {
                    }
                }
                background-color:$primary;
                &-menu {
                    flex: 1;
                    height: 100%;
                    .nav-list{
                        flex: 1;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        .nav-item{
                            display: list-item;
                            height: 100%;
                            &-link {
                                height: 100%;
                                display: flex;
                                align-items: center;
                                color: $primary-light;
                                font-size: 1.6rem;
                                font-weight: 500;
                                padding: 0 20px;
                                opacity: 0.7;
                                &:hover {
                                    opacity: 1;
                                }
                            }
                            .active {
                                opacity: 1;
                            }
                        }
                    }
                }
                &-icon {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    i {
                        text-align: center;
                        font-size: 2.4rem;
                        color: $primary-light;
                        width: 40px;
                        line-height: 40px;
                        padding: auto;
                        border: 1px solid rgb(206, 204, 204);
                        border-radius: 50%;
                        &:hover {
                            cursor: pointer;
                            background-color: $primary-light;
                            background-clip: content-box;
                            color: $primary;
                            
                        }
                    }
                    i:last-child {
                        font-size: 2.8rem;
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: none;
                    }
                }
            }
            .slidebar-top {
                position: absolute;
                top: -320px;
                background-color: $primary;
                left: 0;
                right: 0;
                transition: all ease-in-out 0.35s;
                z-index: -1;
                .slidebar-menu {
                    ul {
                        li {
                            a {
                                display: block;
                                margin: 30px;
                                font-size: 1.6rem;
                                color: #d1d1d1;
                                &:hover {
                                    color: #fff;
                                }
                            }
                            .active {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
// ----------------------------slidebar----------------------------------
.slidebar-left {
    position: fixed;
    background-color: white;
    top: 0;
    right: -350px;
    bottom: 0;
    width: 350px;
    padding: 20px;
    z-index: 999;
    transition: all ease-in-out 0.35s;
    .slidebar-close {
        float: right;

        i {
            font-size: 3rem;
            color: rgb(112, 112, 112);
            float: right;
            margin-right: 20px;
            transform: rotate(0deg);
            // transform: translateX(4px);
            transition: ease-out 0.35s;
            &:hover {
                transform: rotate(90deg);
                // transform: translateX(4px);
                transition: ease-out 0.35s;
                cursor: pointer;
            }
        }
    }
    .slidebar-content {
        .slidebar-logo {
            img {
                margin: 40px auto 20px auto;
            }
        }
        .slidebar-text {
            font-size: 1.8rem;
            margin: 10px 50px 20px auto;
            color: rgb(93, 93, 93);
        }
        .slidebar-menu {
            .menu-title {

            }
            .menu-list {
                .item {
                    font-size: 1.6rem;
                    line-height: 40px;
                    font-weight: 500;
                    &:hover {
                        transform: translateX(4px);
                        transition: ease-out 0.35s;
                        cursor: pointer;
                        color: $primary;
                    }
                }
            }
        }
        .slidebar-social {
        }
    }
}
.overlay-slidebar {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    z-index: 100;
}
.hide {
    display: none;
}

// ------------------------------intro-------------------------------------
.container-intro {
    background-color: $primary;
    padding: 154px 0 60px 0;
}
.intro {
    display:flex;
    align-items: center;
    .intro-content {

        h1 {
            font-size: 4rem;
            color: white;
        }
        p {
            font-size: 2rem;
            margin: 40px 0;
            color: rgb(218, 216, 216);

        }
        .intro-media {
            display: flex;

            .intro-start {
                line-height: 40px;
                font-size: 2rem;
                padding: 4px 20px;
                border-radius: 5px;
                background-color: #fff;
                margin-right: 60px;
                color: $primary;
                border: 1px solid $primary;
                &:hover {
                    background-color: $primary;
                    color: #fff;
                    border: 1px solid #fff;
                }
            }
            .intro-watch {
                line-height: 40px;
                font-size: 2rem;
                color: #fff;
                display: flex;
                align-items: center;
                i {
                    font-size: 4rem;
                    margin-right: 6px;
                }
                &:hover i{
                    opacity: 0.88;
                }
                &:hover span{
                    opacity: 0.88;
                }
            }
        }
    }
    .intro-img {
        overflow: hidden;
        img {
            border-radius: 10px;
            width: 100%;
            float: right;
            object-fit:cover;
        }
    }
}
// --------------------------------------about----------------------------
.about {
    .about-img {
        text-align: center;
        img{
            width: 90%;
            object-fit: cover;
            margin-top: 40px;
        }
    }
    display: flex;
    .about-content {
        padding: 60px;
        h6 {
            font-size:2rem;
            margin: 20px 0;
            position: relative;
            padding-left: 40px;
            &::before { 
                content: "";
                width: 25px;
                height: 2px;
                background-color: $primary;
                position: absolute;
                left: 0;
                top: 50%;
            }
        }
        h2 {
            font-size:4rem;
            margin: 20px 0;

        }
        nav {
            padding: 15px;
            background-color: rgb(231, 229, 229);
            border-radius: 5px;
            button {
                background-color: white;
                line-height: 45px;
                min-width: 100px;
                font-size: 1.6rem;
                border-radius: 5px;
                border: none;
                margin-right: 10px;
                padding: 0 15px;
                &:hover {
                    cursor: pointer;     
                color: $primary;

                }
        
            }
            button:last-child {
                margin-right: 0;
            }
            .navBtn.active {
                background-color: $primary;
                color: white;
                &:not(.disable):hover {
                    color: white;
                }
            }
            // .btn-off:hover {
            //     color: $primary;
            // }
        }
        .about-text {
            margin: 30px 0;
            p {
                font-size: 1.6rem;
                margin: 10px 0;
                color: $text-bland;
            }
            display: none
        }
        .about-text.active {
            display: block;
        }
        
    }
}

.about-container {
    padding: 40px 0 0 0;

}

// ----------------------------------------service-----------------------
.title-container {
    padding: 20px 0;
    .title {
        text-align: center;
        h6 {
            font-size: 1.6rem;
            border: 2px solid $primary;
            display: inline-block;
            border-radius: 15px;
            padding: 5px 20px;
            margin: 10px 0;
        }
        h2 {
            font-size: 3rem;
            margin: 10px 0;
        }
        p {
            color:#6d6d6d;
            font-size: 1.4rem;
        }
    }
}
.service-container {
    margin: 20px 0;
    .service-menu {
        margin: 20px 0;
        .service-items {
            margin: 10px auto;
                .service-item {
                    border: 1px solid #d6d6d6;
                    border-radius: 10px;
                    padding: 20px;
                    box-sizing: border-box;
                    h1 {
                        i {
                            font-size: 3rem;
                            border: 2px solid $primary;
                            color: $primary;
                            border-radius: 50px;
                            padding: 20px;
                            margin: 0 0 10px 0;
                        }
                    }
                    h4 {
                        font-size: 2rem;
                        margin: 10px 0;
                    }
                    p {
                        font-size: 1.4rem;
                        color: #6d6d6d;
                        margin: 10px 0;
                    }
                &:hover {
                    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
                    h1 i {
                        background-color: $primary;
                        color: white;
                    }
                }
            }
         }
    }
}
// --------------------video-------------
.video-container {
    .video {
        position: relative;
        .play-icon {
            display: flex;
            align-items: center;
            background-color: $primary;
            width: 80px; height: 80px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            transform: translateY(-50%);
            border-radius: 50%;
            transition: all ease-in-out 0.35s;
            box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.2);
            i {
                font-size: 4rem;
                position: absolute;
                left: 50%; 
                transform: translateX(-40%);
                color: white;
                transition: all ease-in-out 0.35s;
                
            }
            &:hover {
                background-color: rgb(218, 216, 216);
                cursor: pointer;
                i {
                    color: $primary;
                }
            }
        }
        img {
            width: 100%;
        }
    }
}
.overlay-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    pointer-events: none;               
    transition: all ease-in-out 0.35s;
    // display khong ap dung duoc transition
    transform: scale(0.7);
    transition: all ease-in-out 0.2s;
    .video-popup {
        video{
            width: 100%;
        }
    }
    .video-center {
        display: flex;
        align-items: center;
        height: 100%;
    }
}
.overlay-modal.show {
    transform: scale(1);
    opacity: 1;
    z-index: 100;
    pointer-events: auto;
}
// ----------work-------
.works-container {
    .works {
        margin: 20px 0;
        .tab-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .tab {
                display: inline-block;
                button {
                    padding: 15px 0;    
                    width: 130px;
                    font-size: 1.6rem;
                    position: relative;
                    border: none;
                    text-transform: uppercase; 
                    color: #6d6d6d; 
                    background-color: white;
                    font-weight: 500; 
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 4px;
                        bottom: 0;
                        left: 0;
                        background-color: none;           
                    }
                    &:hover {
                        color: $primary;
                        cursor: pointer;
                    }
                }
            }
            .select {
                button {
                    color: $primary;
                }
                button::before {
                    background-color: $primary;
                    border-radius: 2px;
                }
            }
        }
    }
    
    .work-tags {
        display: none;
        .tag-container {
            .img-box {
                position: relative;
                img {
                    border-radius: 10px;
                    width: 100%;
                    object-fit: cover;
                    // cần kiểm tra thẻ con cao không bằng thẻ cha
                }
                .overlay-img {
                    width: 92%;
                    height: 92%;
                    position: absolute;
                    top: 4%;
                    left: 4%;
                    background-color: rgba(255, 255, 255, 0.7);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    opacity: 0;
                    pointer-events: none;
                    transition: all ease-in-out 0.35s;
                    
                    .zoom, .link {
                        margin: 0 10px;
                        width: 60px;height: 60px;
                        background-color: $primary;
                        border-radius: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i {
                            color: white;
                            font-size: 2.4rem;
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: $primary-dark;
                        }
                    }
                }
                .visible {
                    opacity: 1;
                    pointer-events: auto;
                    transition: all ease-in-out 0.35s;
                }
                // cần kiểm tra lại đọạn này nhé
            }
            h6 {
                font-size: 1.8rem;
                margin: 20px 0; 
            }
            p {
                font-size: 1.6rem;
                margin-bottom: 20px;
            }
        }
    }
    .show {
        display: flex;
    }
    
}
// --------------------option-----------------------
.options-container {
    .options {
        .option {
            .selected {
                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);  
            }
            .option-tag {
                margin: 20px 0;
                padding: 20px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                text-align: center;
                &:hover {
                    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
                }
                h6 {
                    font-size: 1.6rem;
                    padding: 8px 20px;
                    border: 2px solid $primary;
                    display: inline-block;
                    border-radius: 18px;
                    margin: 10px 0;
                }
                .selected {
                    background-color: $primary;
                    color: #fff;
                }
                p {
                    font-size: 1.4rem;
                    color: #6d6d6d;
                    margin: 10px 0;
                }
                .option-amount {
                    h2 {
                        font-size: 5rem;
                        position: relative;
                        margin: 20px 0;
                        display: inline-block;
                        .unit {
                            position: absolute;
                            font-size: 1.6rem;
                            top: 13%;
                            left: -12px;
                            color: #6d6d6d;
                        }
                        .month {
                            position: absolute;
                            right: -28px;
                            top: 54%;
                            font-size: 1.6rem;
                            color: #6d6d6d;
                        }
                    }
                }
                a {
                    display: block;
                    margin: 30px 0;
                    font-size: 1.6rem;
                    color: $primary;
                    border: 2px solid $primary;
                    border-radius: 10px;
                    display: inline-block;
                    padding: 8px 16px;
                    &:hover {
                        cursor: pointer;
                        background-color: $primary;
                        color: white;

                    }
                }
                ul {
                    text-align: left;
                }
                ul li {
                    font-size: 1.4rem;
                    margin: 10px 0;
                    color: #6d6d6d;
                    .tick {
                        color: $primary;
                    }
                    i{
                        margin-right: 10px;
                        }
                }
            }
        }
    }
}
// --------------------Team------------------
.team-container {
    .team {
        margin: 20px 0 100px 0;
        .member {
            .member-container {
               
                position: relative;
                border-radius: 10px;
                // overflow: hidden;
                .img {
                 img {
                    width: 100%;
                    border-bottom: 0;
                    border-radius: 10px 10px 0 0;
                    
                }  
                } 
                .member-intro {
                    right: 0;
                    left: 0;
                    bottom: -50px;
                    position: absolute;
                    text-align: center;
                    background-color: #f6f4f4;
                    transition: all ease-in-out 0.35s;
                    border-radius: 0 0 10px 10px;
                    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.07);
                    .member-social {
                        opacity: 0;
                        position: absolute;
                        top: -23px;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: all ease-in-out 0.35s;
                        width: 100%;
                         ul {
                            display: inline-block;
                            border-radius: 25px;
                            padding: 10px 20px;
                            background-color: #f7f7f7;
                            li {
                                display: inline-block;
                                font-size: 2.2rem; 
                                color: #6d6d6d;
                                i {
                                    padding: 0 8px;
                                    &:hover {
                                        cursor: pointer;
                                        color: $primary;
                                    }
                                }
                            }
                        } 
                    }
                    h6 {
                        font-size: 2.2rem;
                        margin: 8px 0 8px 0;
                    }
                    p {
                        font-size: 1.6rem;
                        color: $primary;
                        padding-bottom:  20px;

                    }
                }
                &:hover {
                    .member-intro {
                        background-color: $primary;
                        padding-top: 20px;
                    }
                .member-social {
                    opacity: 1;
                }
                p {
                    color: #fff;
                    transition: all ease-in-out 0.35s 0.1s;
                }
                h6 {
                    color: #fff;
                    transition: all ease-in-out 0.35s 0.1s;

                }   
                }
            }
        }
    }
}
// -------------------------call---------------------
.call-container {
    background: linear-gradient(45deg, $primary, $primary-dark);
    padding: 40px 0;
    .call {
        .call-content {
            text-align: center;

            h6 {
                font-size: 4rem;
                padding: 10px 0;
                color: white;

            }
            p {
                font-size: 1.6rem;
                padding: 10px 0;
                color: white;

                

            }
            a {
                display: inline-block;
                width:120px;
                line-height: 40px;
                border: 1px solid white;
                border-radius: 5px; 
                font-size: 1.6rem;
                margin: 10px 0;
                color: white;
                &:hover {
                    background-color: white;
                    color: $primary;
                }
            }
        }
    }
}
// ------------------------------review-------------------------
.review-container {
    
    .testimonials-container {
        position: relative;
        overflow: hidden;
        .testimonials-box {  
            width: 100%;
            z-index: 2;

            .testimonial:nth-child(2) {
                left: 0;
                z-index: 3;
            }
            .testimonial:nth-child(3) {
                left: 595px;
                z-index: 3;
            }
        
            .overlay-testimonial {
                width: 100%;
                height: 100%;
                z-index: 2;
                position: absolute;
                background-color:#fafafa;
            }   
            .testimonial {
                width: 50%;
                left: 1190px;
                display: block;
                position: absolute;
                transition: all ease-in-out 0.5s;
                .testimonial-padding {
                    width: 100%;
                    padding: 10px;
                }
            .testimonial-item {
                box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.09);
                position: relative;
                overflow: hidden;
                .shape1 {
                    position: absolute;
                    top: 0;
                    left: 60px;
                }
                .shape2 {
                    position: absolute;
                    bottom: -20px;
                    right: -20px;
                }
                background-color: white;
                padding: 80px 40px;
                border-radius: 10px;
                p {
                    font-size: 1.6rem;
                    color:#6d6d6d;
                    padding-bottom: 20px;
                    text-overflow: clip;
                }
                .avatar {
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    img {
                        margin-right: 30px;
                        width: 100px;
                        height: 100px;
                        border-radius: 50px;
                        object-fit: cover;
                    }
                    .avatar-des {
                        h6 {
                            font-size: 2rem;
                            padding: 4px 0;
        
                        }
                        h4 {
                            font-size: 1.6rem;
                            color: #6d6d6d;
                            padding: 4px 0;

                        }
                    }
                }
            }
            }
        }
    }
    .tns-container {
        .tns-nav {
            margin: 40px 0;
            text-align: center;
            .btn {
                background-color: rgb(188, 188, 245);
                height: 6px;
                min-width: 15px;
                border: none;   
                border-radius: 3px;
                margin: 3px;
            }
            .active {
                width: 25px;
                background-color: $primary;
                transition: all ease-in-out 0.2s;
            }
            
        }

    }
}

// ---------------new, blog --------------------
.new-container {
    .tags-new {
        .tag-new {
            .tag-new-img {
                overflow: hidden;
                border-radius: 10px;
                margin-bottom: 20px;
                transform: scale(1) rotate(0deg);
                
                
                img {
                    transition: all ease 0.35s;
                    width: 100%;
                   
                }
                .label-avatar {
                    width: 140px;    
                    height: 40px;
                    position: absolute;
                    right: 20px;
                    bottom: 30px;
                    background-color: $primary;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    img {
                        margin: 0 12px 0 5px;
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        border-radius: 15px;
                         transition: all ease 0.35s;



                    }
                    p {
                        font-size: 1rem;
                        color: white;
                        padding: 0;
                
                    }
                }
                &:hover {
                    img {

                        transform: scale(1.05) rotate(1.2deg);
                        transition: all ease 0.35s;
                        cursor: pointer;
                    }
                    .label-avatar {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
            h6 {
                font-size: 2.2rem;
                padding-bottom: 20px;
                &:hover {
                    color: $primary;
                    cursor: pointer;
                }

            }
            p {
                font-size: 1.6rem;
                color: #6d6d6d;
                padding-bottom: 20px;


            }
        }
    }
}
// -----------------clients--------------------
.clients-container {
    padding: 40px 0;
    background-color: #fafafa;
    .clients-row1, .clients-row2 {
        margin: 30px 0 30px 100px;
        .col {
            // display: flex;
            flex-wrap: nowrap;
        }
        img {
            margin-right: 30px;
            width: 200px;
            padding: 15px 20px;
            height: 120px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
            transition: all ease-in-out 0.35s;
            &:hover {
                transform: translateY(-10px);
                cursor: pointer;
                box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.1);
            }

        }
        .img3 {
            margin-right: 0;
        }
    }
    .clients-row2 {
        margin-left: 120px;

    }
}
// -------------------contact------------------
.contact-container {
    .contacts {
        .contact:first-child {
            margin: 0 0 15px 0;
        }
        .contact {
            &:hover {
                box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.07);
            }
            margin: 15px 0;
            border: 1px solid #d1d1d1;
            padding: 20px 30px;
            border-radius: 10px;
            display: flex;
            background-color: #fff;
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                font-size: 2rem;
                background-color: $primary;
                color: white;
            }
            .number {
                margin-left: 20px;
                h1 {
                    margin: 0;
                    font-size: 2.2rem;
                    color: $primary;
                    padding-bottom: 10px;

                }
                p {
                    font-size: 1.6rem;
                    color: #6d6d6d;
                    padding-bottom: 8px;
                }
            }
        }
        .form-container {
            box-sizing: border-box;
            background-color: #fff;
            border: 1px solid #d1d1d1;
            border-radius: 10px;
            text-align: center;
            padding: 40px;
            margin-bottom: 40px;
            .header {
                margin: 20px 0;
                h6 {
                    font-size: 2.2rem;
                    color: $primary;
                }
                h1 {
                    font-size: 3rem;
                    margin: 10px 0;
                }
                p {
                    font-size: 1.6rem;
                    color: #6d6d6d;
                }
            }
            .body {
                margin: 20px 0;
                .input-main {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                input {
                    font-size: 1.6rem;
                    width: 48%;
                    line-height: 55px;
                    border-radius: 30px;
                    padding: 0 20px;
                    border: 1px solid #d1d1d1;
                    margin-bottom: 20px;
                    &:focus {

                        outline: 1px solid $primary;
                    }
                }
                input:nth-child(2), input:nth-child(4) {
                    margin-right: 0;
                }
                }
                .message {
                    textarea {
                        resize: vertical;
                        font-size: 1.6rem;
                        height: 100px;
                        border-radius: 10px;
                        padding: 20px;
                        border: 1px solid #d1d1d1;
                        &:focus {

                            outline: 1px solid $primary;
                        }
                    }
                }
            }
            .footer {
                button {
                    padding: 10px 20px;
                    font-size: 2rem;
                    background-color: $primary;
                    border-radius: 50px;
                    border: none;
                    color: white;
                    font-size: to-upper-case($string: "");
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
#map {
    height: 500px;
    width: 100%;
}
footer {
    .addition-container {
        margin: 60px 0;
        .addition {
            img {
                margin: 15px 0 5px 0;
            }
            p {
                margin: 20px 0;
                color: #6d6d6d;
    
            }
        }
        .solution, .support {
            h1 {
    
            }
            p {
                color: #6d6d6d;
                margin: 10px 0;
            }
        }
        .subscribe {
            p {
                color: #6d6d6d;
                margin: 20px 0;
    
            }
            .email-send {
                border: 1px solid #d1d1d1;
                border-radius: 10px;
                position: relative;
                width: 70%;
                input {
                    border: none;
                    padding: 0 20px;
                    font-size: 1.6rem;
                    line-height: 55px;
                    width: 100%;
                    border-radius: 10px;
                    &:focus {
                        outline: 1px solid $primary;
                    }
    
                }
                i {
                    position: absolute;
                    right: 10px;
                    color: white;
                    transform: translateY(-50%);
                    top: 50%;
                    font-size: 2rem;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: $primary;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}































@import "./change.scss";
@import "./reponsiveLibrary.scss";
@import "./reponsive.scss";