
// Extral Small
@media (max-width: 576px) {


}


//Small
@media (min-width: 576px) and (max-width: 720px){
    .banner {
        .banner-left {
            margin-right: 0;
            text-align: center;
            .banner-input {
                width: 100%;
            }
        }
        .banner-right {
            text-align: center;
        }
    }
}
    

//Medium
@media (min-width: 720px) and (max-width: 960px){
    .banner {
        .banner-left {
            margin-right: 0;
            text-align: center;
            .banner-input {
                width: 100%;
            }
        }
        .banner-right {
            text-align: center;
        }
    }
    .about {
        position: relative;
        padding: 80px  0 150px 0;
        .container {
            .about-left {
                position: absolute;
                right: 0;
                bottom: -150px;
                z-index: 1
            }
            .about-right {
                z-index: 2;
                position: relative;
            }
        }
    }
}
//large
@media (min-width: 960px) and (max-width: 1140px){
    .banner {
        .banner-left {
            margin-right: 0;
            text-align: center;
            .banner-input {
                width: 100%;
            }
        }
        .banner-right {
            text-align: center;
        }
    }
}
// Extral large
@media (min-width: 1140px) and (max-width: 1320px){

}
// XXl
@media (min-width: 1320px) {

}
