:root {
    --white--color: #fff;
    --black--color: #000;
    --text--color: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;    
}
p {
    font-size: 1.6rem;
}
html {
    font-size: 1.6rem;
    font-size: 62.5%;
    /* line-height: 1.6rem; */
    font-family: "Inter", sans-serif;
    background-color: white;
}
@keyframes fadein{
    from {
opacity: 0;
    }
    to {
Opacity: 1;
    }
} 
