* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
* h1 {
  font-size: 2.8rem;
  color: #222222;
}
* h2 {
  font-size: 2.4rem;
  color: #222222;
}
* h3 {
  font-size: 2rem;
}
* h4 {
  font-size: 1.4rem;
}
* p {
  font-size: 1.5rem;
  line-height: 25px;
}

html {
  font-size: 1.6rem;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.opacity0 {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.visible {
  opacity: 1 !important;
  visibility: visible !important;
  transition: all ease 0.3s;
}

.hidden {
  display: none;
}

.active {
  color: #F65E39 !important;
}

.btn {
  background-color: #fff;
  border: none;
  font-weight: 500;
}
.btn:hover {
  cursor: pointer;
}

.title h2 {
  margin: 10px 0;
}
.title p {
  margin-bottom: 10px;
  color: #555555;
}

.row .col-12-5 {
  width: 20%;
}
.row .col-12-5_2 {
  width: 40%;
}

.slide-container {
  position: relative;
}
.slide-container i {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  font-size: 2.4rem;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 50%;
  overflow: unset;
}
.slide-container i:hover {
  color: #F65E39;
  cursor: pointer;
  transition: all ease 0.3s;
}
.slide-container .img--prev {
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}
.slide-container .visible {
  color: #555555;
  background-color: rgba(255, 255, 255, 0.5);
}
.slide-container .visible:hover {
  color: #555555;
}
.slide-container .img--next {
  right: 0;
  transform: translateX(50%) translateY(-50%);
}
.slide-container .slide-inner {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slide-container .slide-inner .slide-list {
  transition: all ease-in-out 0.3s;
  position: absolute;
  display: flex;
  margin: 0 -8px;
  left: 0;
}
.slide-container .slide-inner .slide-list .img-container {
  padding: 0 8px;
  position: relative;
  background-color: #fff;
}
.slide-container .slide-inner .slide-list .img-container .img {
  border-radius: 10px;
  overflow: hidden;
  display: block;
}
.slide-container .slide-inner .slide-list .img-container .img-des {
  position: absolute;
  bottom: 20px;
  right: 50%;
  color: #fff;
}
.slide-container .slide-inner .slide-list .img-container .img-des h2 {
  color: #fff;
  margin-bottom: 8px;
}
.slide-container .slide-inner .slide-list .img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  position: fixed;
  z-index: 99;
  background-color: #fff;
  left: 0;
  right: 0;
}
.header .search-container {
  display: flex;
  align-items: center;
}
.header .search-container__logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  transition: all ease 0.3s;
}
.header .search-container__logo:hover {
  cursor: pointer;
  fill: #F65E39;
}
.header .search-container .search {
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  height: 47px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-radius: 5px;
  flex: 1;
}
.header .search-container .search__date, .header .search-container .search__customer {
  line-height: 47px;
  padding: 0 16px;
}
.header .search-container .search__date i, .header .search-container .search__customer i {
  margin-right: 12px;
  color: #555555;
}
.header .search-container .search__date span, .header .search-container .search__customer span {
  margin-right: 12px;
}
.header .search-container .search__date:hover, .header .search-container .search__customer:hover {
  cursor: pointer;
}
.header .search-container .search__input {
  flex: 1;
  position: relative;
  box-sizing: border-box;
}
.header .search-container .search__input i {
  position: absolute;
  left: 20px;
  color: #555555;
  top: 50%;
  transform: translateY(-50%);
}
.header .search-container .search__input input {
  height: 47px;
  width: 100%;
  padding: 0 10px 0 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #c5c5c5;
}
.header .search-container .search__customer {
  position: relative;
}
.header .search-container .search__customer::before {
  content: "";
  width: 1px;
  height: 40px;
  left: 0;
  background-color: #e2e2e2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header .search-container .search__customer .sub-customer {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}
.header .search-container .search__customer .sub-customer .customer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 300px;
  padding: 12px;
}
.header .search-container .search__customer .sub-customer .customer-container i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}
.header .search-container .search__customer .sub-customer .customer-container h6 {
  margin-right: 90px;
  color: #222222;
  font-weight: 500;
  line-height: 30px;
}
.header .search-container .search__customer .sub-customer .customer-container p {
  font-size: 1.2rem;
  font-weight: 450;
  color: #555555;
}
.header .search-container .search__customer .sub-customer .customer-container .customer-input {
  display: flex;
  align-items: center;
}
.header .search-container .search__customer .sub-customer .customer-container .customer-input span {
  margin: 0 16px;
}
.header .search-container .search__btn {
  padding: 0 21px;
  background-color: #555555;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.header .search-container .search__btn i {
  color: #fff;
}
.header .menu {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
.header .menu__item a {
  color: #222222;
  display: flex;
  align-items: center;
  padding: 10px;
}
.header .menu__item a:hover {
  color: #555555;
}
.header .menu .item__dot {
  position: relative;
}
.header .menu .item__dot::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #F65E39;
  border-radius: 5px;
  position: absolute;
  right: 6px;
  top: 6px;
}
.header .menu .sub-item {
  position: relative;
  font-weight: 400;
}
.header .menu .sub-item__language {
  display: flex;
  align-items: center;
}
.header .menu .sub-item__language i {
  padding-bottom: 5px;
}
.header .menu .sub-item:hover {
  cursor: pointer;
}
.header .menu .sub-item img {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}
.header .menu .sub-item i {
  margin-left: 8px;
}
.header .menu .sub-item .language {
  opacity: 0;
  display: flex;
  visibility: hidden;
  width: 470px;
  position: absolute;
  top: 30px;
  right: 0;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dadada;
}
.header .menu .sub-item .language__item a span {
  padding: 0 10px;
}
.header .menu .sub-item .language__item a i {
  opacity: 0;
  visibility: hidden;
}
.header .menu .sub-item .language::before {
  content: "";
  width: 15px;
  height: 15px;
  top: -8px;
  right: 20px;
  transform: rotate(45deg);
  position: absolute;
  background-color: #fff;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
.header .menu .sub-item .language ul:last-child {
  border-left: 1px solid #dddddd;
}

.banner {
  padding: 100px 0 0 0;
}
.banner .banner-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.banner .banner-container img {
  transition: all ease-in-out 0.3s;
  position: absolute;
  width: 100%;
  border-radius: 20px;
}
.banner .banner-container .img-control {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
}
.banner .banner-container .img-control__dot {
  width: 8px;
  height: 8px;
  background-color: #bebebe;
  border-radius: 50%;
  margin-right: 10px;
}
.banner .banner-container .img-control .on {
  background-color: #898989;
}

.welcome {
  padding: 20px 0 0 0;
}

.popular {
  padding: 20px 0 0 0;
}

.promotion {
  padding: 20px 0 0 0;
}
.promotion-img img {
  width: 100%;
  border-radius: 10px;
}

.manual {
  padding: 20px 0 0 0;
}
.manual a img {
  width: 100%;
  border-radius: 10px;
}

.intro {
  padding: 50px 0 0 0;
}
.intro .logo svg {
  width: 343px;
}
.intro .descriptions p {
  margin-bottom: 20px;
}
.intro .app {
  margin: 72px 0 20px 0;
}
.intro .app .qr-app {
  padding: 12px;
  border: 1px solid #dddddd;
}
.intro .app .qr-app img {
  width: 100%;
}
.intro .app .store-app img {
  margin-bottom: 20px;
}
.intro .img-mobile img {
  width: 100%;
}

.footer {
  padding: 50px 0 0 0;
}
.footer-widget {
  margin-bottom: 40px;
}
.footer-widget__title {
  margin-bottom: 20px;
}
.footer-widget__logo svg {
  width: 200px;
}
.footer-widget__link {
  margin-top: 20px;
}
.footer-widget__link a {
  color: #222222;
  font-size: 1.4rem;
  display: block;
  padding: 6px 0;
}
.footer-widget__message {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.footer-widget__message .message__img {
  margin-right: 10px;
}
.footer-widget__message a {
  color: #222222;
  font-size: 1.4rem;
  display: block;
  padding: 4px 0;
}
.footer-widget__message p {
  font-weight: 600;
}
.footer-widget__payments {
  display: flex;
}
.footer-widget__payments img {
  max-width: 100px;
}
.footer-widget__social a {
  font-size: 2rem;
  color: #222222;
}
.footer-widget__social a i {
  margin-right: 8px;
}
.footer .info__coder {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #dddddd;
}
.footer .app {
  margin: 72px 0 20px 0;
}
.footer .app .qr-app {
  padding: 12px;
  border: 1px solid #dddddd;
}
.footer .app .qr-app img {
  width: 100%;
}
.footer .app .store-app img {
  margin-bottom: 20px;
  width: 100%;
}
.footer a:hover {
  color: #F65E39;
  transition: all ease 0.3s;
}

.recommend {
  padding: 20px 0 0 0;
}
.recommend .recommend-container {
  margin: 20px 0;
}
.recommend .recommend-container .recommend-list {
  height: 300px;
}
.recommend .recommend-container .recommend-list .img-container .img-content p:first-child {
  color: #555555;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
}
.recommend .recommend-container .recommend-list .img-container .img-content p {
  color: #222222;
}
.recommend .recommend-container .recommend-list .img-container .img {
  border-radius: 5px !important;
}

.popular .popular-list {
  height: 300px;
}
.popular .popular-list .img-container .img {
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
