body {
  font-family: "Poppins", sans-serif !important;
}

header {
  background-color: #fafafa;
  font-size: 2.4rem;
}
header .navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}
header .navbar .logo {
  line-height: 100px;
  color: #03a4ed;
  text-decoration: none;
  font-weight: 700;
}
header .navbar .logo span {
  color: #fe3f40;
}
header .navbar ul {
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
}
header .navbar ul li a {
  display: block;
  line-height: 40px;
  padding: 0 20px;
  font-weight: 500;
  text-decoration: none;
  color: #2a2a2a;
  transition: all ease 0.3s;
}
header .navbar ul li a:hover {
  color: #fe3f40;
}
header .navbar ul li .active {
  color: #fe3f40;
}
header .navbar ul li .navbar-btn {
  background-color: #fe3f40;
  border-radius: 20px;
  margin-left: 40px;
}
header .navbar ul li .navbar-btn a {
  color: #fafafa;
}

.banner {
  position: relative;
}
.banner .banner-left {
  margin-right: 40px;
}
.banner .banner-left h6 {
  font-size: 1.8rem;
  color: #fe3f40;
  margin-bottom: 15px;
}
.banner .banner-left h1 {
  font-size: 5rem;
}
.banner .banner-left h1 span {
  color: #fe3f40;
}
.banner .banner-left p {
  font-size: 1.5rem;
  margin: 20px 0;
}
.banner .banner-input {
  position: relative;
  display: flex;
  width: 70%;
  align-items: center;
}
.banner .banner-input input {
  font-size: 1.5rem;
  background-color: #03a4ed;
  height: 66px;
  border-radius: 33px;
  width: 100%;
  border: none;
  padding: 0 170px 0 30px;
  outline: none;
  caret-color: #fafafa;
}
.banner .banner-input input::placeholder {
  color: #fafafa;
}
.banner .banner-input button {
  font-size: 1.5rem;
  position: absolute;
  padding: 12px 25px;
  border-radius: 30px;
  right: 10px;
  border: none;
}

.img-left {
  position: absolute;
  left: 0;
  top: 0;
}

.about {
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0px 120px 0px;
}
.about .container .row {
  align-items: center;
}
.about .container .row .about-right {
  display: flex;
  flex-wrap: wrap;
}
.about .container .row .about-right .about-list {
  margin: 20px 0;
  display: flex;
  width: 50%;
}
.about .container .row .about-right .about-list .about-des {
  padding-left: 20px;
}
.about .container .row .about-right .about-list .about-des h4 {
  color: #fff;
}
.about .container .row .about-right .about-list .about-des p {
  color: #fff;
}

.services {
  padding: 140px 0px 120px 0px;
}
.services .container .row {
  align-items: center;
}
.services .container .row .services-right h2 {
  margin-bottom: 20px;
}
.services .container .row .services-right p {
  margin: 30px 0 60px 0;
}
.services .container .row .services-right .services-process h4 {
  margin-bottom: 20px;
}
.services .container .row .services-right .services-process .bar-container {
  margin-bottom: 30px;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: #f7eff1;
}
.services .container .row .services-right .services-process .bar-container .process {
  height: 100%;
  width: 84%;
  background-color: #fe3f40;
  position: relative;
  border-radius: 4px;
}
.services .container .row .services-right .services-process .bar-container .process span {
  position: absolute;
  bottom: 8px;
  right: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.portfolio .container .row:last-child {
  padding: 120px 0 80px 0;
}
.portfolio .container .row:last-child .por-item {
  position: relative;
  transition: all ease 1s;
}
.portfolio .container .row:last-child .por-item .item-visible {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 40px 0;
  transition: all ease 1s;
}
.portfolio .container .row:last-child .por-item .item-hidden {
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  padding: 40px;
  background-color: #fe3f40;
  border-radius: 20px;
  color: #fff;
  transition: all ease 1s;
}
.portfolio .container .row:last-child .por-item .item-hidden h4 {
  margin-bottom: 20px;
}
.portfolio .container .row:last-child .por-item .item-hidden::after {
  content: "";
  border-color: #fe3f40 transparent transparent transparent;
  border-width: 10px 10px;
  border-style: solid;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease 1s;
}
.portfolio .container .row:last-child .por-item:hover .item-visible {
  transform: translateY(50%);
}
.portfolio .container .row:last-child .por-item:hover .item-hidden {
  top: -50%;
}

.blog .container .row .blog-left h2 {
  margin-bottom: 40px;
}
.blog .container .row .blog-left .blog-img {
  position: relative;
}
.blog .container .row .blog-left .blog-img img {
  border-radius: 20px;
  margin-bottom: 50px;
  width: 100%;
}
.blog .container .row .blog-left .blog-img .calendar-left {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.06);
  padding: 20px;
  padding-bottom: 40px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  width: 80%;
  border-radius: 20px;
}
.blog .container .row .blog-left .blog-img .calendar-left ul {
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}
.blog .container .row .blog-left .blog-img .calendar-left ul li {
  font-size: 1.5rem;
  color: #afafaf;
  margin-right: 20px;
}
.blog .container .row .blog-left .blog-img .calendar-left ul li i {
  color: #fe3f40;
  margin-right: 8px;
}
.blog .container .row .blog-left .blog-img .calendar-left h4 {
  margin-bottom: 20px;
}
.blog .container .row .blog-left .btn-left {
  background-color: #03a4ed;
  border-radius: 20px;
  margin-left: 40px;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  color: #fff;
  margin: 40px 0 20px 0;
}
.blog .container .row .blog-right .des-top {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.blog .container .row .blog-right .list-right {
  margin-left: 30px;
  margin-bottom: 10px;
}
.blog .container .row .blog-right .list-right ul li {
  align-items: center;
  display: flex;
}
.blog .container .row .blog-right .list-right ul li .des-right {
  margin-right: 40px;
}
.blog .container .row .blog-right .list-right ul li .des-right span {
  margin-bottom: 20px;
  display: inline-block;
  font-size: 1.5rem;
}
.blog .container .row .blog-right .list-right ul li .des-right span i {
  color: #fe3f40;
  margin-right: 8px;
}
.blog .container .row .blog-right .list-right ul li .des-right h4 {
  margin-bottom: 20px;
}
.blog .container .row .blog-right .list-right ul li .img-right img {
  border-radius: 20px;
}

:root {
  --white--color: #fff;
  --black--color: #000;
  --text--color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
* h2 {
  font-size: 3rem;
}
* h4 {
  font-size: 2.4rem;
}
* p {
  font-size: 1.5rem;
  line-height: 25px;
}

html {
  font-size: 1.6rem;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

/*# sourceMappingURL=main.css.map */
